# Prerequisites
*.d

# Visual Studio directories and files
.vs/
*.ilk
*.pdb

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Makefile
Makefile

#CmakeFiles
*.cmake
CMakeCache.txt

# CMake build directory
build/

#CMake folder
CMakeFiles/


# game files
server_error.log
Bin/ClientApp.bat
Bin/ServerCmd.bat

#visualstudio code
.vscode/

# Server specific
ServerApp
ServerApp_d
ServerCmd